@model IEnumerable<Book>

<div class="single__product">
    @foreach (var item in Model)
    {
        <!-- Start Single Product -->
        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
            <div class="product product__style--3">
                <div class="product__thumb" style="height:340px">
                    <a class="first__img" asp-controller="Gallery" asp-action="Book" asp-route-id="@item.Id"><img src="@Url.Content(item.ImgUrl)" alt="product image"></a>
                    <a class="second__img animation1" asp-controller="Gallery" asp-action="Book" asp-route-id="@item.Id"><img src="images/books/2.jpg" alt="product image"></a>
                    <div class="hot__box">
                        <span class="hot-label">BEST SALER</span>
                    </div>
                </div>
                <div class="product__content content--center content--center">
                    <h4><a href="single-product.html">@item.Name</a></h4>
                    <ul class="prize d-flex">
                        <li>$@item.PriceOffer</li>
                        <li class="old_prize">$@item.Price</li>
                    </ul>
                    <div class="action">
                        <div class="actions_inner">
                            <ul class="add_to_links">
                                <li><a class="cart" asp-controller="ShopingCart" asp-action="AddToShopingCart" asp-route-bookId="@item.Id"><i class="bi bi-shopping-bag4"></i></a></li>
                                <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                                <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                                <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="product__hover--content">
                        <ul class="rating d-flex">
                            <li class="on"><i class="fa fa-star-o"></i></li>
                            <li class="on"><i class="fa fa-star-o"></i></li>
                            <li class="on"><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                            <li><i class="fa fa-star-o"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Single Product -->
    }


    <!-- Start Single Product -->
    @*<div class="col-lg-3 col-md-4 col-sm-6 col-12">
        <div class="product product__style--3">
            <div class="product__thumb">
                <a class="first__img" href="single-product.html"><img src="images/books/3.jpg" alt="product image"></a>
                <a class="second__img animation1" href="single-product.html"><img src="images/books/9.jpg" alt="product image"></a>
                <div class="hot__box">
                    <span class="hot-label">BEST SALER</span>
                </div>
            </div>
            <div class="product__content content--center content--center">
                <h4><a href="single-product.html">Ghost</a></h4>
                <ul class="prize d-flex">
                    <li>$50.00</li>
                    <li class="old_prize">$35.00</li>
                </ul>
                <div class="action">
                    <div class="actions_inner">
                        <ul class="add_to_links">
                            <li><a class="cart" href="cart.html"><i class="bi bi-shopping-bag4"></i></a></li>
                            <li><a class="wishlist" href="wishlist.html"><i class="bi bi-shopping-cart-full"></i></a></li>
                            <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                            <li><a data-toggle="modal" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="product__hover--content">
                    <ul class="rating d-flex">
                        <li class="on"><i class="fa fa-star-o"></i></li>
                        <li class="on"><i class="fa fa-star-o"></i></li>
                        <li class="on"><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                        <li><i class="fa fa-star-o"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Start Single Product -->
</div>


@*<link href="~/css/shop-homepage.css" rel="stylesheet" />

    <div class="col-sm-3 col-lg-3 col-md-3">
        <div class="thumbnail">
            <div class="img-box">
                <img src="@Url.Content(Model.ImgUrl)" alt="">
                <a asp-controller="ShopingCart" asp-action="AddToShopingCart" asp-route-bookId="@Model.Id" class="img-box-cart">Add to Cart</a>
            </div>
            <div class="caption">
                <h4 class="pull-right">$@Model.Price</h4>
                <h4>
                    <a href="#">@Model.Name</a>
                </h4>
                <h5>
                    <a target="_blank" href="http://www.fb.com/shbsovon">@Model.Author</a>
                </h5>
                <p>@Model.Details</p>
            </div>
            <div class="ratings">
                <p class="pull-right">15 reviews</p>
                <p>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                    <span class="glyphicon glyphicon-star"></span>
                </p>
            </div>
        </div>
    </div>*@
