@*@model IEnumerable<Book>*@
@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Items</h3>
                <p><a class="btn btn-primary icon-btn" href="#" onclick="PopupForm('Dashboard/Book/AddOrEdit')"><i class="fa fa-plus"></i>Add Item	</a></p>
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Author</th>
                                <th>Details</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Buttons</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Author</td>
                                        <td>@item.Details</td>
                                        <td>@item.Price</td>
                                        <td>@item.Category.Name</td>
                                        <td>
                                            <div class="btn-group-sm" style="width:90px">
                                                <a class="btn btn-primary" onclick="PopupForm('Dashboard/Book/_AddOrEdit/@item.Id')" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                                <a class="btn btn-danger" href="#" onclick=""><i class="fa fa-lg fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@section style{
    <link href="~/css/plugins/jquery-ui.min.css" rel="stylesheet" />
    <style>
        .ui-dialog {
            top: 50px;
            left: auto;
        }
    </style>
}

@section scripts{
    <script src="~/js/plugins/jquery-ui.js"></script>
    <script type="text/javascript" src="~/js/plugins/sweetalert.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/bootstrap-notify.min.js"></script>
    <script type="text/javascript">
        var popup, dataTable /*= $('#sampleTable').DataTable()*/;

        $(document).ready(function () {
            dataTable = $('#sampleTable').DataTable({
                //processing: true,
                //serverSide: true,
                ajax: {
                    url: "/Dashboard/Book/GetData",
                    type: "Get",
                    contentType: "application/Json",
                    dataType: "Json",
                    dataSrc: ""
                },
                columns: [
                    { data: "Id" },
                    { data: "Name" },
                    { data: "Author" },
                    { data: "Details" },
                    { data: "Price" },
                    { data: "Category.Name" },
                    {
                        data: "Id",
                        "render": function (data) {
                            return "<div class='btn-group' style='width:90px'>"
                                + "<a class='btn btn-primary' onclick=PopupForm('Dashboard/Book/AddOrEdit/" + data + "') href='#'><i class='fa fa-lg fa-edit'></i></a>"
                                + "<a class='btn btn-danger' href='#' onclick=deleteForm('"+data+"')><i class='fa fa-lg fa-trash'></i></a></div>";
                        },
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    infoEmpty: "No records found!",
                    emptyTable: "No Data Found! Please Click <b>Add New</b> to add.",
                },

            });
        });

        //For Pop Up Dialog => Add or Edit Dialog
        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get("https://localhost:44371/" + url)
                .done(function (response) {
                    formDiv.html(response);

                    popup = formDiv.dialog({
                        //modal: true,
                        autoOpen: true,
                        resizable: false,
                        title: "Add or Update Book",
                        width: 500,
                        height: 600,
                        close: function () {
                            $(popup).dialog("destroy").remove();
                        }
                    });                    
                });
        }

        //For Refresh DataTable while closing Popup Dialog
        function submitForm(form1) {
            var obj = new FormData(form1);

            $.ajax({
                type: "post",
                url: "/Dashboard/Book/AddOrEdit",
                data: obj,
                dataType: "json",
                contentType: false,
                processData: false,
                success: function (data) {
                    if (data.success) {
                        dataTable.ajax.reload();

                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success",
                        });
                        
                        $(popup).dialog('close');
                    } else {
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "warning",
                        });
                    }
                }
            });
            return false;
        }

                //For Delete
        function deleteForm(id) {
            if (confirm('Are you sure to Delete this data?')) {
                $.ajax({
                    type: "post",
                    url: "/Dashboard/Book/delete",
                    data: { 'id': id },
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            //alert(data.message);
                            $.notify({
                                title: "Notify: ",
                                message: data.message,
                                icon: "fa fa-check"
                            }, {
                                type: "info"
                            });
                        } else {
                            $.notify({
                                title: "Notify: ",
                                message: data.message,
                                icon: "fa fa-check"
                            }, {
                                type: "warning"
                            });
                        }
                    }
                });
            }
        }

    </script>

    <!-- Google analytics script-->
    <script type="text/javascript">
        if (document.location.hostname == 'pratikborsadiya.in') {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-72504830-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
}