@model GuestMessage
@{
    ViewData["Title"] = "GuestMessages";
    Layout = "_Layout";
}


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="tile-title-w-btn">
                <h3 class="title">All Messages</h3>
                @*<p><a class="btn btn-primary icon-btn" href="#" onclick="PopupForm('Dashboard/Book/AddOrEdit')"><i class="fa fa-plus"></i>Add Item	</a></p>*@
            </div>
            <div class="tile-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="sampleTable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Subject</th>
                                <th>Details</th>
                                <th>Website</th>
                                <th>Buttons</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td>@item.Author</td>
                                        <td>@item.Details</td>
                                        <td>@item.Price</td>
                                        <td>@item.Category.Name</td>
                                        <td>
                                            <div class="btn-group-sm" style="width:90px">
                                                <a class="btn btn-primary" onclick="PopupForm('Dashboard/Book/_AddOrEdit/@item.Id')" href="#"><i class="fa fa-lg fa-edit"></i></a>
                                                <a class="btn btn-danger" href="#" onclick=""><i class="fa fa-lg fa-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{ 
<script src="~/js/plugins/jquery-ui.js"></script>
<script type="text/javascript" src="~/js/plugins/sweetalert.min.js"></script>
<!-- Data table plugin-->
<script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" src="~/js/plugins/bootstrap-notify.min.js"></script>
<script type="text/javascript">
    var dataTable /*= $('#sampleTable').DataTable()*/;

    $(document).ready(function () {
        dataTable = $('#sampleTable').DataTable({
            //processing: true,
            //serverSide: true,
            ajax: {
                url: "/Dashboard/Guest/GetData",
                type: "Get",
                contentType: "application/Json",
                dataType: "Json"
            },
            columns: [
                { data: "id" },
                {
                    data: "firstName",
                    render: function (data, type, row) {
                        return data + " " + row.lastName;
                    }
                },
                { data: "subject" },
                { data: "details" },
                {
                    data: "website",
                    render: function (data,type,row) {
                        return "<a href='" + data + "' target='_blank'>Visit Site</a><br>" + "<a href='mailto:" + row.email + "'>Mail Now</a><br>";
                    }
                },
                {
                    data: "id",
                    "render": function (data,type,row) {
                        return "<div class='btn-group' style='width:90px'>"
                            + "<a class='btn btn-danger' href='#' onclick=deleteForm('" + data + "')><i class='fa fa-lg fa-trash'></i>Delete</a>"
                            + "<a class='btn btn-danger' href='mailto:"+row.email+"'><i class='fa fa-lg fa-reply'></i>Reply</a></div>";
                    },
                    orderable: false,
                    searchable: false
                }
            ],
            language: {
                infoEmpty: "No records found!",
                emptyTable: "No Data Found! Please Click <b>Add New</b> to add.",
            },

        });
    });
</script>
}