@model IEnumerable<Book> 

@foreach (var item in Model)
{
    <!-- Start Single Product -->
    <div class="product product__style--3 col-lg-4 col-md-4 col-sm-6 col-12">
        <div class="product__thumb">
            <a class="first__img" asp-controller="Gallery" asp-action="Book" asp-route-id="@item.Id"><img src="@item.ImgUrl" alt="product image"></a>
            <a class="second__img animation1" asp-controller="Gallery" asp-action="Book" asp-route-id="@item.Id"><img src="~/images/books/2.jpg" alt="product image"></a>
            <div class="hot__box">
                <span class="hot-label">BEST SALLER</span>
            </div>
        </div>
        <div class="product__content content--center">
            <h4><a asp-controller="Gallery" asp-action="Book" asp-route-id="@item.Id">@item.Name</a></h4>
            <ul class="prize d-flex">
                <li>@item.Price</li>
                <li class="old_prize">@item.PriceOffer</li>
            </ul>
            <div class="action">
                <div class="actions_inner">
                    <ul class="add_to_links">
                        <li><a class="cart" asp-action="AddToShopingCart" asp-controller="ShopingCart" asp-route-bookId="@item.Id"><i class="bi bi-shopping-bag4"></i></a></li>
                        <li><a class="wishlist" href="#"><i class="bi bi-shopping-cart-full"></i></a></li>
                        <li><a class="compare" href="#"><i class="bi bi-heart-beat"></i></a></li>
                        <li><a data-toggle="modal" onclick="quickView(@item.Id)" title="Quick View" class="quickview modal-view detail-link" href="#productmodal"><i class="bi bi-search"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="product__hover--content">
                <ul class="rating d-flex">
                    <li class="on"><i class="fa fa-star-o"></i></li>
                    <li class="on"><i class="fa fa-star-o"></i></li>
                    <li class="on"><i class="fa fa-star-o"></i></li>
                    <li><i class="fa fa-star-o"></i></li>
                    <li><i class="fa fa-star-o"></i></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Single Product -->
}